{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('ROLE_USER') %}
    <h1>Article list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title }}</a></td>
                <td>{% for category in article.categories %}
                    <li><a href="../category/{{category.id}}">{{ category }}</a></li>
                {% endfor %}
                    </ul>
                </td class="different">
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                        {#
                        <li>
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                        #}
                        
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('article_new') }}">Create a New Entry</a>
        </li>
    </ul>
 {% endif %}
 {% else %}
 
 <h2>You must have an account to view this content. Why not login or register for an account?</h2>

 <a href="/final-project-242/web/app_dev.php/login">Login</a>
 <a href="/final-project-242/web/app_dev.php/register">Register</a>
            {% endif %}
{% endblock %}
