{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('ROLE_USER') %}
    <h1>Article</h1>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content|raw }}</p>
    <img src="{{ vich_uploader_asset(article, 'imageFile', 'AppBundle\\Entity\\Article') }}">
            <tr>
                <th>Category</th>
                <td><ul>
                {% for category in article.categories %}
                    <li><a href="../category/{{category.id}}">{{ category }}</a></li>
                {% endfor %}
            </ul></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}
