{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category</h1>

    <h2>{{ category.name }}</h2>
    <h3>Articles</h3>
    {% if category.articles %}
        {% for article in category.articles %}
            <a href="../article/{{article.id}}">{{ article }}</a> 
        {% endfor %}
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
