{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('ROLE_USER') %}
    <h1>Category:</h1>

    <h2>{{ category.name }}</h2>
    <h3>Articles:</h3>
    {% if category.articles %}
        {% for article in category.articles %}
            <a href="../article/{{article.id}}">{{ article }}</a> 
        {% endfor %}
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to the List</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
        </li>
        
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
 {% else %}
 
 <h2>You must have an account to view this content. Why not login or register for an account?</h2>

 <a href="/final-project-242/web/app_dev.php/login">Login</a>
 <a href="/final-project-242/web/app_dev.php/register">Register</a>

 {% endif %} 
{% endblock %}
